/* MyProfile.css */
.dialog-box {
  position: relative;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  max-height: 3rem; /* Réduit la hauteur de la boîte de dialogue */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Assurez-vous que le texte ne déborde pas */
}

.dialog-box::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #f9f9f9 transparent transparent;
}

.dialog-box::after {
  content: '';
  position: absolute;
  top: 10px;
  left: -22px;
  border-width: 11px;
  border-style: solid;
  border-color: transparent #ccc transparent transparent;
}

@keyframes textAppear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: textAppear 3s steps(30, end);
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .dialog-box {
    max-width: 100%; /* Utilise toute la largeur disponible sur mobile */
    max-height: 80px; /* Réduit encore la hauteur pour les petits écrans */
    font-size: 14px; /* Réduit la taille de la police pour les petits écrans */
  }

  .dialog-box::before, .dialog-box::after {
    display: none; /* Cache les flèches sur les petits écrans */
  }

}