.joker-container {
    overflow: hidden; /* Pour éviter que l'image ne dépasse du conteneur lors de l'animation */
  }
  
  .joker-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour l'animation */
  }
  
  .joker-container:hover .joker-image {
    transform: rotate(15deg) scale(1.2); /* Rotation de 15 degrés et zoom de 120% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre pour un effet de profondeur */
  }
  